<p>
  <strong>Date:</strong>
  <%= @comp.formatted_date %>
</p>
<p>
  <strong>Pairs:</strong>
  <%= @comp.pairs.count %>
</p>

<%= link_to 'Edit', edit_comp_path(@comp) %> |
<%= link_to 'Back', comps_path %>
