<p>
  <strong>Pair1:</strong>
  <%= @pair.name.split(' & ')[0] %>
</p>

<p>
  <strong>Pair2:</strong>
  <%= @pair.name.split(' & ')[1] %>
</p>

<%= link_to 'Edit', edit_pair_path(@pair) %> |
<%= link_to 'Back', pairs_path %>
