<p>
  <strong>Pair1:</strong>
  <%= @pair.player1_id %>
</p>

<p>
  <strong>Pair2:</strong>
  <%= @pair.player2_id %>
</p>

<%= link_to 'Edit', edit_pair_path(@pair) %> |
<%= link_to 'Back', pairs_path %>
